.wrapper {
  padding: 16px 0;
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    left: 8px;
    right: 8px;
    top: 0;
    height: 1px;
    background-color: rgba(22, 24, 35, 0.12);
    transform: scaleY(0.5);
  }
}

.label {
  padding: 0 8px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  color: rgba(22, 24, 35, 0.75);
}

.accountItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background: rgba(22, 24, 35, 0.03) none repeat scroll 0% 0%;
  }

  img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
    margin-right: 12px;
  }
}

.itemInfo {
  .username {
    display: flex;
    align-items: center;
    font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(22, 24, 35);

    .verifyBadge {
      margin-left: 4px;
      color: #20d5ec;
    }
  }

  .fullname {
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.75);
  }
}

.seeAll {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 8px;
  margin-top: 8px;
  color: var(--primary);

  p {
    cursor: pointer;
  }
}
