// Menu wrapper
.menu-list {
  width: 224px;
  justify-content: flex-start;

  .menu-item {
    margin-left: 0;
  }
}

.menu-item {
  font-weight: 500;
  border-radius: 0;
  padding: 10px 16px;
  width: 100%;
  text-align: left;

  &:hover {
    background: rgba(22, 24, 35, 0.03) none repeat scroll 0% 0%;
  }

  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  overflow: auto;
}

// Menu header
.header {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.back-btn {
  cursor: pointer;
  width: 50px;
  height: 100%;
  background-color: transparent;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  line-height: 22px;
  font-weight: 600;
  font-size: 16px;
}
