.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
}

.inner {
  width: var(--default-layout-width);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
  display: flex;
}

.actions {
  display: flex;
  align-items: center;
}

.more-btn {
  margin-left: 16px;
  padding: 0 4px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  color: rgba(22, 24, 35, 1);
  background-color: transparent;
  margin-left: 16px;
  cursor: pointer;
  height: 32px;
  position: relative;

  svg {
    display: block;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.avatar {
  margin-left: 16px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}
