.search,
.search-result {
  width: 361px;
}

.search {
  position: relative;
  height: var(--search-height);
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-border-radius);
  padding-left: 16px;
  display: flex;
  border: 1px solid transparent;

  input {
    font-family: var(--font-family);
    caret-color: var(--primary);
    height: 100%;
    color: var(--black);
    font-size: 1rem;
    background-color: transparent;
    flex: 1;
    padding-right: 40px;
  }

  input:not(:placeholder-shown) ~ .search-btn {
    color: rgba(22, 24, 35, 0.75);
  }

  &::after {
    content: '';
    position: absolute;
    top: var(--search-top-spacer);
    right: 52px;
    height: calc(var(--search-height) - var(--search-top-spacer) * 2);
    background-color: rgba(22, 24, 35, 0.12);
    width: 1px;
  }

  &:focus-within {
    border: 1px solid rgba(22, 24, 35, 0.2);
  }
}

.search-title {
  height: 30px;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.search-btn {
  width: 52px;
  height: 100%;
  background-color: transparent;
  border-top-right-radius: var(--search-border-radius);
  border-bottom-right-radius: var(--search-border-radius);
  font-size: 1.2rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover,
  &:active {
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
  }
}

.clear,
.loading {
  position: absolute;
  right: 65px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(22, 24, 35, 0.34);
  font-size: 14px;
  background-color: transparent;
  cursor: pointer;
}

.loading {
  animation: spiner 1s linear infinite;
}

@keyframes spiner {
  from {
    transform: translateY(-50%) rotate(0);
  }

  to {
    transform: translateY(-50%) rotate(360deg);
  }
}
