.channel-item {
  color: rgb(22, 24, 35);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  border: 1px solid rgba(22, 24, 35, 0.12);
  font-size: 15px;
  padding: 0px 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 44px;
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  word-break: keep-all;
  white-space: nowrap;
  background: rgb(255, 255, 255);
}

.icon {
  left: 12px;
  font-size: 20px;
  position: absolute;
  display: flex;
}

.modal-footer {
  color: rgb(22, 24, 35);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  height: 64px;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
}

.term-and-condition {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 16px 30px;
  margin-bottom: unset;

  p {
    color: rgba(22, 24, 35, 0.5);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 12px;
    line-height: 15px;
    width: 375px;
    text-align: center;
  }

  .link {
    color: rgba(22, 24, 35, 1);

    &:hover {
      text-decoration: underline;
    }
  }
}
