// .modal-container {
// z-index: 1001;
// position: fixed;
// inset: 0;
// overflow: auto;
// outline: 0px;
// transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
// display: flex;
// opacity: 1;
// }

// .container {
// border-radius: 8px;
// transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
// transform: none;
// margin: auto;
// position: relative;
// max-height: 693px;
// height: 80%;
// overflow: hidden;
// background-color: rgb(255, 255, 255);
// }

// .opacity-layer {
//   position: fixed;
//   inset: 0px;
// }

// .modal-body {
//   flex: 1 1 0%;
//   overflow: auto;
// }

// .inner-body {
//   width: 375px;
//   margin: auto;
//   padding: unset;
// }

// .title {
//   text-align: center;
//   margin: 16px auto;
//   font-size: 32px;
//   font-weight: bold;
//   font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
// }

.channel-item {
  color: rgb(22, 24, 35);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  border: 1px solid rgba(22, 24, 35, 0.12);
  font-size: 15px;
  padding: 0px 12px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 44px;
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  word-break: keep-all;
  white-space: nowrap;
  background: rgb(255, 255, 255);
}

.icon {
  left: 12px;
  font-size: 20px;
  position: absolute;
  display: flex;
}

.modal-footer {
  color: rgb(22, 24, 35);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  height: 64px;
  border-top: 1px solid rgba(22, 24, 35, 0.12);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 15px;
  line-height: 18px;
}

.term-and-condition {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  padding: 16px 30px;
  margin-bottom: unset;

  p {
    color: rgba(22, 24, 35, 0.5);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 12px;
    line-height: 15px;
    width: 375px;
    text-align: center;
  }

  .link {
    color: rgba(22, 24, 35, 1);

    &:hover {
      text-decoration: underline;
    }
  }
}

// Login with phone form
// .loginWithPhoneForm {
//   .body {
// .phone-label {
//   color: rgb(22, 24, 35);
//   font-weight: 600;
//   font-size: 15px;
//   display: flex;
//   -webkit-box-pack: justify;
//   justify-content: space-between;
//   margin-bottom: 5px;
// }

// .link {
//   color: rgba(22, 24, 35, 0.75);
//   font-weight: 600;
//   font-size: 12px;

//   &:hover {
//     text-decoration: underline;
//   }
// }

// .top-link {
//   display: inline-block;
// }
// }

// input {
//   height: 44px;
//   flex-grow: 1;
//   background-color: transparent;
//   padding-inline-start: 12px;
//   padding-inline-end: unset;
//   font-size: 16px;
//   outline: none;
//   caret-color: rgb(254, 44, 85);
//   background: rgba(22, 24, 35, 0.06);
// }

// .phone-input {
//   display: flex;
//   align-items: center;
//   border-radius: 4px;
//   border: 1px solid rgba(22, 24, 35, 0.12);
//   margin-bottom: 9px;
// }

// .area-selection {
// background: rgba(22, 24, 35, 0.06);
// position: relative;
// height: 44px;
// padding: 12px;
// display: flex;
// align-items: center;
// font-size: 16px;
// line-height: 1;
// cursor: pointer;

// span {
//   margin-inline-end: 12px;
// }

// &:after {
//   content: '';
//   width: 1px;
//   height: 30px;
//   background: rgba(22, 24, 35, 0.12);
//   right: 0px;
//   left: unset;
//   position: absolute;
// }
// }

// .code-input {
// display: flex;
// align-items: center;
// margin-bottom: 9px;

// input {
//   border-radius: 4px 0 0 4px;
//   height: 47px;
//   border-top: 1px solid rgba(22, 24, 35, 0.12);
//   border-bottom: 1px solid rgba(22, 24, 35, 0.12);
//   border-left: 1px solid rgba(22, 24, 35, 0.12);
// }

// button {
// font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
// font-weight: 600;
// margin: 0px;
// background-color: rgba(22, 24, 35, 0.06);
// border-color: rgba(22, 24, 35, 0.12);
// border-width: 1.5px;
// border-style: solid;
// border-radius: 0px 4px 4px 0px;
// border-inline-start-width: 1.5px;
// cursor: pointer;
// font-size: 16px;
// padding: 0px 16px;
//   height: 44px;
//   flex-shrink: 0;
//   box-sizing: content-box;
// }
// }

.submit-btn {
  border: none;
  color: rgba(22, 24, 35, 0.34);
  background-color: rgba(22, 24, 35, 0.06);
  pointer-events: none;
  min-width: 120px;
  min-height: 46px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  font-family: ProximaNova, PingFangSC, sans-serif;
  margin-top: 21px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 8px;
  width: 100%;

  &.active {
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
  }
  // }
}
// -- End login with phone form
